body{
    background-color: lavenderblush;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background-color: floralwhite;
    color: black;
    padding: 5px;
    text-align: center;
    border-bottom: 5px solid goldenrod;
}

header h1{
    font-family: 'Times New Roman';
    font-size: 40px;
    margin: 0;
}

header h2{
    font-family: 'Times New Roman';
    font-size: 18px;
    font-style: italic;
    margin: 5px 0;
}

nav{
    text-align: center;
    margin-top: 10px;

}

.nav-menu {
    background-color: mistyrose;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    display: inline-block;
}

footer{
    background-color: goldenrod;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contacto{
    text-align: center;
    padding: 20px;
}

.info-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.icono{
    width: 24px;
    height: auto;
}

.evento {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.seccion-eventos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 35px;
}

.eventos{
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.evento img{
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}

.blog{
    text-align: center;
    padding:40px;
}

.seccion-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.post {
    background-color: #fff6f6;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.post img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}
.faq {
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 40px;
}

.faq-item {
    margin-bottom: 15px;
    padding: 10px;
}


.faq-question {
    background-color: antiquewhite; 
    padding: 12px;
    border-radius: 10px; 
    font-weight: bold;
    font-size: 18px;
    color: #333;
    width: fit-content;
}


.faq-answer {
    margin-left: 20px;
    font-size: 16px;
    color: #555;
}
